body {
    margin: 4rem 0 0 5%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
    color: white;
  }

  a{text-decoration: none;}
/* < --- navigation bar --- >*/
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 13%;
    background-color: black;
    z-index: 99999;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: content-box;
    margin: 0 2rem 0 2rem;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:25%;
    height: 90%;
    margin: 10px;
    align-items: center;
}
.icon a{
    font-size: medium;
    text-decoration: none;
    color: white;
}
.icon img{
    height: 90%;
    width: 40%;
    margin-right: 5px;
}
.search input[type=text] {
    width: 80%;
    height: 5vh;
    border-radius: 25px;
    border: none;
}


/* < -- main -->  */
main{
    color:white;
    position: absolute;
    max-width: 65%;
    padding-bottom: 10%;
    box-sizing: content-box;
  }

/* < --- images slider --- > */
.slider_container{
    max-width: 80%;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.slider{
    /* position: relative; */
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.slide{
    min-width: 100%;
    height: 15rem;
}
.slide img{
    width: 100%;
    height: 100%;
}

@keyframes sliding{
    0% {transform: translateX(0%);}
    30% {transform: translateX(-100%);}
    60% {transform: translateX(-200%);}
    90% {transform: translateX(-300%);}
    100% {transform: translateX(-300%);}
}

/* < --- latest release --- >  */
.new-release{
    position: relative;
    width: fit-content;
    box-sizing: content-box;
}
.release{
    display: flex;
    box-sizing: content-box;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}
.album{
    display: flex;
    flex-wrap: wrap;
    width:max-content;
    justify-content: space-between;
    margin: 0 20px 10px 0;
    color: white;
}
.album img{
    height: 6rem;
    width: 45%;
    margin-right: 2px;
}
.details{
    width: 50%;
}

/* < -- aside -- > */
aside{
    position: absolute;
    left: 70%;
}
.queue{
    position: absolute;
    top: 0;
}
.queue ol{
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
    align-items: center;
}
#play-list{
    display: flex;
    justify-content: space-between;
}
#play-list img{
    width: 2rem;
    height: 2rem;
    border-radius: 25%;
    margin-right: 1rem;
}
.list-details{
    width: 10rem;
}

/* < --- popular artist --- >  */
.artists{
    display: flex;
    width: 40rem;

}
.artist{
    width:100%;
    display: inline;
    margin: 5px;
}
.artist img{
    border-radius: 100%;
    height: 5rem;
    width: 100%;
}

/* < --- footer --- > */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: black;
}
.player{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: content-box;
    margin: 0 2rem 3rem 2rem;
}
.song-detail{
    display: flex;
    justify-content: space-between;
    width:25%;
    margin: 1rem;
}
.song-detail img{
    height: 80%;
    width: 50%;
    margin-right: 5px;
}
.play-song{
    width: 50%;
    margin: 5px;
}
.play{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.controls{
    width:100%; 
    margin-top: 10px;
    display: flex; 
    justify-content: center;
}

.volume-cntrl{
    display: flex;
}